<section class="documents">
    <div class="container">
        <div class="documentsInfo">
            <h2>Documents</h2>
            <div class="allDocs">
                <div class="info" *ngFor="let docs of documents">
                    <div>
                        <p>{{docs.name}}</p>
                        <span [style.color]="docs.color" (click)="openPopup(docs)"><img [src]="docs.icon"> {{docs.title}}</span>
                    </div>
                    <img [src]='docs.image' alt="">





                  
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>

 <!-- ------------------------------------------------------------ -->
<!-- ------------------------------------------------------------ -->
<div class="overlay" *ngIf="showPopup">
    <div class="popup">
        <div class="cross" (click)="closePopup()">
            <img src="assets/images/cross.png" alt="">
        </div>
        <div class="title">
            <p>{{pdf.name}}</p>
            <span [style.color]="pdf.color" [style.background]="pdf.bgc"><img [src]="pdf.icon"> {{pdf.title}}</span>
        </div>
        <embed src="assets/book.pdf" type="application/pdf" width="100%" height="90%" />
    </div>
</div>
<!-- ------------------------------------------------------------ -->
<!-- ------------------------------------------------------------ -->