<header>
   <div class="container">
    <div class="content">
        <div class="left">
            <img src="assets/images/photo.png" alt="">
            <span>|</span>
            <img class="company" src="assets/images/logoCampany.png" alt="">
        </div>
        <div class="right">
            <a href="{{pdfUrl}}" target="_blank"><img src="assets/images/download.png" alt="" ></a>
            <img src="assets/images/link.png" alt="" (click)="copy(result)">
        </div>
    </div>
    <p>Inspected by Mark James on December 22, 2021 <input [value]="copyUrl" #result ></p>
    
   </div>
</header>