<section class="notes">
    <div class="container">
<div class="notesInfo">
    <h2>Notes</h2>
    <div>
        <p>
            Aim of a short test for the control of evaporave emissions of gasoline cars equipped with a carbon canister is to make sure that the canister retains fuel vapour coming from the fuel tank and purges it to the engine so that it is burnt together with the injected fuel. What follows is an excerpt from a study conducted by Radian Corp. that briefly describes and reviews two relevant short test procedures developed in the U.S.
        </p>
        
    </div>
    <div>
        <p style="margin-bottom: 28px;">
            EPA’s proposed evaporave system involves disconnecng two vapor lines that are located under the hood of the vehicle.
        </p>
        <p>
            The line from the fuel tank is disconnected and nitrogen gas is injected to assure that the system can hold pressure and therefore retain evaporave emissions. The line from the canister to the engine is disconnected and a flowmeter is installed to determine if the canister is being purged of evaporave emissions
        </p>
    </div>
    <hr>
</div>
    </div>
</section>
