<section class="damages">
    <div class="container">
        <!-- ========================================================= -->
        <!-- ========================================================= -->
        <div class="damagesInfo">
            <div class="title">
                <h3>Front Side</h3>
                <hr>
            </div>
            <div class="subTitle">
                <h4>Front bumper</h4>
                <hr>
                <div class="images">
                    <div class="imgInfo">
                        <img src="assets/images/frontbumper-1.png" alt="">
                        <div class="details">
                            <div class="icon">
                                <img src="assets/images/Front Damage@2x.png" alt="">
                                <p>Front Damage</p>
                            </div>
                            <div class="hand"><a href="#">Handling</a></div>
                        </div>
                    </div>
                    <div class="imgInfo">
                        <img src="assets/images/frontbumper-2.png" alt="">
                        <div class="details">
                            <div class="icon">
                                <img src="assets/images/Crack@2x.png" alt="">
                                <p>Crack</p>
                            </div>
                            <!-- <div class="hand"><a href="#">Handling</a></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- =========================================================== -->
        <!-- =========================================================== -->
        <div class="damagesInfo">
            <div class="title">
                <h3>Left Side</h3>
                <hr>
            </div>
            <div class="subTitle">
                <h4>Left Front Fender</h4>
                <hr>
                <div class="images">
                    <div class="imgInfo">
                        <img src="assets/images/leftfrontfender.png" alt="">
                        <div class="details">
                            <div class="icon">
                                <img src="assets/images/Scratch@2x.png" alt="">
                                <p>Scratch</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- =========================================================== -->
        <!-- =========================================================== -->
        <div class="damagesInfo">
            <div class="subTitle">
                <h4>Left Front Door</h4>
                <hr>
                <div class="images">
                    <div class="imgInfo">
                        <img src="assets/images/leftfrontdoor-1.png" alt="">
                        <div class="details">
                            <div class="icon">
                                <img src="assets/images/Dent@2x.png" alt="">
                                <p>Dent</p>
                            </div>
                        </div>
                    </div>
                    <div class="imgInfo">
                        <img src="assets/images/leftfrontdoor-2.png" alt="">
                        <div class="details">
                            <div class="icon">
                                <img src="assets/images/Hail@2x.png" alt="">
                                <p>Hail</p>
                            </div>
                            <!-- <div class="hand"><a href="#">Handling</a></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- =========================================================== -->
        <!-- =========================================================== -->
        <div class="damagesInfo">
            <div class="title">
                <h3>Rear Side</h3>
                <hr>
            </div>
            <div class="subTitle">
                <h4>Right Taillight</h4>
                <hr>
                <div class="images">
                    <div class="imgInfo">
                        <img src="assets/images/rearside.png" alt="">
                        <div class="details">
                            <div class="icon">
                                <img src="assets/images/Rear Damage@2x.png" alt="">
                                <p>Rear Damage</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- =========================================================== -->
        <!-- =========================================================== -->

         <!-- =========================================================== -->
        <!-- =========================================================== -->
        <div class="damagesInfo">
            <div class="title">
                <h3>Right Side</h3>
                <hr>
            </div>
            <div class="subTitle">
                <h4>Right Front Window</h4>
                <hr>
                <div class="images">
                    <div class="imgInfo">
                        <img src="assets/images/leftfrontdoor-1.png" alt="">
                        <div class="details">
                            <div class="icon">
                                <img src="assets/images/Hail@2x.png" alt="">
                                <p>Hail</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- =========================================================== -->
        <!-- =========================================================== -->
        <div class="damagesInfo">
            <div class="title">
                <h3>Top Side</h3>
                <hr>
            </div>
            <div class="subTitle">
                <h4>Hood</h4>
                <hr>
                <div class="images">
                    <div class="imgInfo">
                        <img src="assets/images/topside-1.png" alt="">
                        <div class="details">
                            <div class="icon">
                                <img src="assets/images/Dent@2x.png" alt="">
                                <p>Dent</p>
                            </div>
                        </div>
                    </div>
                    <div class="imgInfo">
                        <img src="assets/images/topside-2.png" alt="">
                        <div class="details">
                            <div class="icon">
                                <img src="assets/images/Crack@2x.png" alt="">
                                <p>Crack</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="damagesInfo">
            <hr class="hr">
        </div>
        <!-- =========================================================== -->
        <!-- =========================================================== -->
    </div>
</section>
