


<section class="photos">
    <div class="container">
       <div class="photoInfo">
        <h2>Photos</h2>
        <div class="img-container">
            <span (click)="openPopup()"><img src="assets/images/menu.png" alt=""></span>
            <img src="assets/images/car1.png" alt="" id="preview">

            <div class="img-prev">
                <div class="img-slide active">
                    <img src="assets/images/car1.png" alt="" appDemo>
                </div>
                <div class="img-slide">
                    <img src="assets/images/car2.png" alt="" appDemo> 
                </div>
                <div class="img-slide">
                    <img src="assets/images/car3.png" alt="" appDemo>
                </div>
                <div class="img-slide">
                    <img src="assets/images/car4.png" alt="" appDemo>
                </div>
                <div class="img-slide">
                    <img src="assets/images/car5.png" alt="" appDemo>
                </div>
                <div class="img-slide">
                    <img src="assets/images/car6.png" alt="" appDemo>
                </div>
                <div class="img-slide">
                    <img src="assets/images/car7.png" alt="" appDemo>
                </div>
            </div>
        </div>
        <hr>
       </div>

        <!-- OverLay -->
        <div *ngIf="showPopup" id="overlay" class="overlay">
            <div class="popup">
              <div>
                <p (click)="closePopup()"><img src="assets/images/cross.png" alt=""></p> 
              </div>                      
                        <div class="images" style="border:unset ;">
                           <img (click)="closePopup()" src="assets/images/car1.png" appDemo>
                           <img (click)="closePopup()" src="assets/images/car2.png" appDemo>
                           <img (click)="closePopup()" src="assets/images/car3.png" appDemo>
                           <img (click)="closePopup()" src="assets/images/car4.png" appDemo>
                           <img (click)="closePopup()" src="assets/images/car5.png" appDemo>
                           <img (click)="closePopup()" src="assets/images/car6.png" appDemo>
                           <img (click)="closePopup()" src="assets/images/car7.png" appDemo>
                        </div>
            </div>
        </div>
    </div>
</section>
