<!-- <section class="damagesOverview">
    <div class="container">
        <div class="damagesOverviewInfo">
            <h2>Damages Overview</h2>
            <div class="images">
                <div class="right">
                    <div class="rightImg"> -->
                        <!-- <img src="assets/images/dam1.png" alt=""> -->
                        <!-- =========================================================== -->
                        
                        <!-- ****************************************** -->
                        <!-- <div class="divRed" style="top: 50%; left:50%;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanRed  icon icon-dent"  ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div> -->
                        <!-- ****************************************** -->

                        <!-- =========================================================== -->
                        <!-- ****************************************** -->
                        <!-- <div class="divBlue" style="top: 30%; left:25%;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanGray icon icon-dent" ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div> -->
                        <!-- ****************************************** -->
                  <!--   </div>
                </div>
                <div class="front">
                    <div class="frontImg" > -->
                        <!-- <img src="assets/images/dam2.png" alt=""> -->
                        <!-- =========================================================== -->
                      <!-- ****************************************** -->
                      <!-- <div class="divRed" style="top: 50%; left:30%;"> 
                        <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                            <span class="spanRed  icon icon-dent"  ></span>
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item ">
                           
                                <img src="assets/images/leftfrontdoor-2.png" alt="">
                                <p class="icon icon-dent">Dent</p>
                              
                          </a>
                        </div>
                      </div> -->
                    <!-- ****************************************** -->
                        <!-- =========================================================== -->
                         <!-- ****************************************** -->
                         <!-- <div class="divBlue" style="top: 70%; left:30%;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanGray icon icon-dent" ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div> -->
                        <!-- ****************************************** -->
                    <!-- </div>
                </div>
                <div class="top">
                    <div class="topImg">
                        <img src="assets/images/dam3.png" alt=""> -->
                             <!-- =========================================================== -->
                             <!-- ****************************************** -->
                        <!-- <div class="divRed" style="top: 50%; left:50%;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanRed  icon icon-dent"  ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div> -->
                        <!-- ****************************************** -->
                            <!-- =========================================================== -->
                         <!-- ****************************************** -->
                         <!-- <div class="divBlue" style="top: 70%; left:80%;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanGray icon icon-dent" ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div> -->
                        <!-- ****************************************** -->
                    <!-- </div>
                </div>
                <div class="rear">
                    <div class="rearImg">
                        <img src="assets/images/dam4.png" alt=""> -->
                            <!-- =========================================================== -->
                           <!-- ****************************************** -->
                        <!-- <div class="divRed" style="top: 50%; left:30%;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanRed  icon icon-dent"  ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-2.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div> -->
                        <!-- ****************************************** -->
                            <!-- =========================================================== -->
                         <!-- ****************************************** -->
                         <!-- <div class="divBlue" style="top: 20%; left:30%;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanGray icon icon-dent" ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div> -->
                        <!-- ****************************************** -->
                    <!-- </div>
                </div>
                <div class="left">
                    <div class="leftImg">
                        <img src="assets/images/dam5.png" alt=""> -->
                             <!-- =========================================================== -->
                             <!-- ****************************************** -->
                        <!-- <div class="divRed" style="top: 50%; left:60%;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanRed  icon icon-dent"  ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div> -->
                        <!-- ****************************************** -->
                            <!-- =========================================================== -->
                         <!-- ****************************************** -->
                         <!-- <div class="divBlue" style="top: 40%; left:50%;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanGray icon icon-dent" ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div> -->
                        <!-- ****************************************** -->
                    <!-- </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<!-- ======================================================================================= -->
<!-- =====================================BG================================================== -->
<!-- ======================================================================================= -->
<section class="damagesOverview">
  <div class="container">
      <div class="damagesOverviewInfo">
          <h2>Damages Overview</h2>
          <div class="images">
              <div class="right">
                  <div class="rightImg">
                      <!-- ****************************************** -->
                      <div class="divRed" style="top: 50%; left:50%;"> 
                          <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                              <span class="spanRed  icon icon-dent"  ></span>
                          </button>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item">
                             
                                  <img src="assets/images/leftfrontdoor-1.png" alt="">
                                  <p class="icon icon-dent">Dent</p>
                                
                            </a>
                          </div>
                        </div>
                      <!-- ****************************************** -->

                      <!-- =========================================================== -->
                      <!-- ****************************************** -->
                      <div class="divBlue" style="top: 30%; left:25%;"> 
                          <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                              <span class="spanGray icon icon-dent" ></span>
                          </button>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item ">
                             
                                  <img src="assets/images/leftfrontdoor-1.png" alt="">
                                  <p class="icon icon-dent">Dent</p>
                                
                            </a>
                          </div>
                        </div>
                      <!-- ****************************************** -->
                  </div>
              </div>
              <div class="front">
                  <div class="frontImg" >
                      <!-- =========================================================== -->
                    <!-- ****************************************** -->
                    <div class="divRed" style="top: 50%; left:50%;"> 
                      <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                          <span class="spanRed  icon icon-dent"  ></span>
                      </button>

                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item ">
                         
                              <img src="assets/images/leftfrontdoor-2.png" alt="">
                              <p class="icon icon-dent">Dent</p>
                            
                        </a>
                      </div>
                    </div>
                  <!-- ****************************************** -->
                      <!-- =========================================================== -->
                       <!-- ****************************************** -->
                       <div class="divBlue" style="top: 70%; left:30%;"> 
                          <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                              <span class="spanGray icon icon-dent" ></span>
                          </button>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item ">
                             
                                  <img src="assets/images/leftfrontdoor-1.png" alt="">
                                  <p class="icon icon-dent">Dent</p>
                                
                            </a>
                          </div>
                        </div>
                      <!-- ****************************************** -->
                  </div>
              </div>
              <div class="top">
                  <div class="topImg">
                           <!-- =========================================================== -->
                           <!-- ****************************************** -->
                      <div class="divRed" style="top: 50%; left:50%;"> 
                          <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                              <span class="spanRed  icon icon-dent"  ></span>
                          </button>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item ">
                             
                                  <img src="assets/images/leftfrontdoor-1.png" alt="">
                                  <p class="icon icon-dent">Dent</p>
                                
                            </a>
                          </div>
                        </div>
                      <!-- ****************************************** -->
                          <!-- =========================================================== -->
                       <!-- ****************************************** -->
                       <div class="divBlue" style="top: 70%; left:80%;"> 
                          <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                              <span class="spanGray icon icon-dent" ></span>
                          </button>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item ">
                             
                                  <img src="assets/images/leftfrontdoor-1.png" alt="">
                                  <p class="icon icon-dent">Dent</p>
                                
                            </a>
                          </div>
                        </div>
                      <!-- ****************************************** -->
                  </div>
              </div>
              <div class="rear">
                  <div class="rearImg">
                          <!-- =========================================================== -->
                         <!-- ****************************************** -->
                      <div class="divRed" style="top: 50%; left:30%;"> 
                          <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                              <span class="spanRed  icon icon-dent"  ></span>
                          </button>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item ">
                             
                                  <img src="assets/images/leftfrontdoor-2.png" alt="">
                                  <p class="icon icon-dent">Dent</p>
                                
                            </a>
                          </div>
                        </div>
                      <!-- ****************************************** -->
                          <!-- =========================================================== -->
                       <!-- ****************************************** -->
                       <div class="divBlue" style="top: 20%; left:30%;"> 
                          <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                              <span class="spanGray icon icon-dent" ></span>
                          </button>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item ">
                             
                                  <img src="assets/images/leftfrontdoor-1.png" alt="">
                                  <p class="icon icon-dent">Dent</p>
                                
                            </a>
                          </div>
                        </div>
                      <!-- ****************************************** -->
                  </div>
              </div>
              <div class="left">
                  <div class="leftImg">
                           <!-- =========================================================== -->
                           <!-- ****************************************** -->
                      <div class="divRed" style="top: 50%; left:60%;"> 
                          <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                              <span class="spanRed  icon icon-dent"  ></span>
                          </button>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item ">
                             
                                  <img src="assets/images/leftfrontdoor-1.png" alt="">
                                  <p class="icon icon-dent">Dent</p>
                                
                            </a>
                          </div>
                        </div>
                      <!-- ****************************************** -->
                          <!-- =========================================================== -->
                       <!-- ****************************************** -->
                       <div class="divBlue" style="top: 40%; left:50%;"> 
                          <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                              <span class="spanGray icon icon-dent" ></span>
                          </button>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item ">
                             
                                  <img src="assets/images/leftfrontdoor-1.png" alt="">
                                  <p class="icon icon-dent">Dent</p>
                                
                            </a>
                          </div>
                        </div>
                      <!-- ****************************************** -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>