


<section class="damagesOverview">
    <div class="container">
        <div class="damagesOverviewInfo">
            <h2>Damages Overview</h2>
            <div class="images">
                <div class="right">
                    <div class="rightImg">
                        <img src="assets/images/dam1.png" alt="">
                        <!-- =========================================================== -->
                        
                        <!-- ****************************************** -->
                        <div class="divRed" style="top: 50px; left:160px;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanRed  icon icon-dent"  ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div>
                        <!-- ****************************************** -->

                        <!-- =========================================================== -->
                        <!-- ****************************************** -->
                        <div class="divBlue" style="top: 90px; left:250px;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanGray icon icon-dent" ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div>
                        <!-- ****************************************** -->
                    </div>
                </div>
                <div class="front">
                    <div class="frontImg">
                        <img src="assets/images/dam2.png" alt="">
                        <!-- =========================================================== -->
                      <!-- ****************************************** -->
                      <div class="divRed" style="top: 50px; left:60px;"> 
                        <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                            <span class="spanRed  icon icon-dent"  ></span>
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item ">
                           
                                <img src="assets/images/leftfrontdoor-2.png" alt="">
                                <p class="icon icon-dent">Dent</p>
                              
                          </a>
                        </div>
                      </div>
                    <!-- ****************************************** -->
                        <!-- =========================================================== -->
                         <!-- ****************************************** -->
                         <div class="divBlue" style="top: 190px; left:60px;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanGray icon icon-dent" ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div>
                        <!-- ****************************************** -->
                    </div>
                </div>
                <div class="top">
                    <div class="topImg">
                        <img src="assets/images/dam3.png" alt="">
                             <!-- =========================================================== -->
                             <!-- ****************************************** -->
                        <div class="divRed" style="top: 50px; left:160px;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanRed  icon icon-dent"  ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div>
                        <!-- ****************************************** -->
                            <!-- =========================================================== -->
                         <!-- ****************************************** -->
                         <div class="divBlue" style="top: 90px; left:250px;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanGray icon icon-dent" ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div>
                        <!-- ****************************************** -->
                    </div>
                </div>
                <div class="rear">
                    <div class="rearImg">
                        <img src="assets/images/dam4.png" alt="">
                            <!-- =========================================================== -->
                           <!-- ****************************************** -->
                        <div class="divRed" style="top: 50px; left:60px;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanRed  icon icon-dent"  ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-2.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div>
                        <!-- ****************************************** -->
                            <!-- =========================================================== -->
                         <!-- ****************************************** -->
                         <div class="divBlue" style="top: 190px; left:100px;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanGray icon icon-dent" ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div>
                        <!-- ****************************************** -->
                    </div>
                </div>
                <div class="left">
                    <div class="leftImg">
                        <img src="assets/images/dam5.png" alt="">
                             <!-- =========================================================== -->
                             <!-- ****************************************** -->
                        <div class="divRed" style="top: 50px; left:160px;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanRed  icon icon-dent"  ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div>
                        <!-- ****************************************** -->
                            <!-- =========================================================== -->
                         <!-- ****************************************** -->
                         <div class="divBlue" style="top: 90px; left:250px;"> 
                            <button class="" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                <span class="spanGray icon icon-dent" ></span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item ">
                               
                                    <img src="assets/images/leftfrontdoor-1.png" alt="">
                                    <p class="icon icon-dent">Dent</p>
                                  
                              </a>
                            </div>
                          </div>
                        <!-- ****************************************** -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>