@font-face {
    font-family: "untitled-font-5";
    src:url("fonts/untitled-font-5.eot");
    src:url("fonts/untitled-font-5.eot?#iefix") format("embedded-opentype"),
      url("fonts/untitled-font-5.woff") format("woff"),
      url("fonts/untitled-font-5.ttf") format("truetype"),
      url("fonts/untitled-font-5.svg#untitled-font-5") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "untitled-font-5" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-family: "untitled-font-5" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-car-collision:before {
    content: "\61";
  }
  .icon-crack:before {
    content: "\62";
  }
  .icon-dent:before {
    content: "\63";
  }
  .icon-fire-filled:before {
    content: "\64";
  }
  .icon-flood-risk:before {
    content: "\65";
  }
  .icon-front-damage:before {
    content: "\66";
  }
  .icon-hail:before {
    content: "\67";
  }
  .icon-overturned-vehicle:before {
    content: "\68";
  }
  .icon-rear-end-collision:before {
    content: "\69";
  }
  .icon-scissors:before {
    content: "\6a";
  }
  /* ==================================================== */
  /* ==================================================== */
  
.container{
    width: 1180px;
    margin: auto;
    background-color: #fff;
}
.damagesOverviewInfo{
    padding: 0 100px 60px;
}
h2{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 40px;
}

/* ========================Images======================== */
.images{
    /* background-color: green; */
}
.right,.left,.top,.rear,.front{
    position: relative;
}
/* ==============+RIGHT-==================== */
.right{
    width: 536px;
    height: 160px;
    /* background-color: red; */
    margin: auto;
}
.rightImg{
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/dam1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    
}
/* ================FRONT================== */
.front{
    width: 171px;
    height: 250px;
    /* background-color: red; */
    display: inline-block;
    margin: 80px 0;
}
.frontImg{
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/dam2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    
}
/* ================TOP================== */
.top{
    width: 536px;
    height: 229px;
    /* background-color: red; */
    display: inline-block;
    margin: 80px 16px;
}
.topImg{
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/dam3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    
}
/* ================REAR================== */
.rear{
    width: 170px;
    height: 247px;
    /* background-color: red; */
    display: inline-block;
    margin: 80px 0;
}
.rearImg{
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/dam4.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    
}
/* ================LEFT================== */
.left{
    width: 536px;
    height: 160px;
    /* background-color: red; */
    margin: auto;
}
.leftImg{
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/dam5.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    
}
/* ================================================ */
/* =====================damages==================== */
/* ================================================ */

.divRed ,.divBlue{
    position: absolute;
    
}
.divRed button ,.divBlue button{
    all: unset;
}
.dropdown-menu{
    width: 315px;
    padding: 13px;
    
}
.dropdown-item img{
    width: 100%;
    height: 100%;
    margin-bottom: 14px;
}
.spanRed{
    width: 24px;
    height: 24px;
    border: 1px solid #D13438;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #faebeb;
    cursor: pointer;
    color: #D13438;
    font-size: 12px;
}
.divRed.show .spanRed{
    background-color: #D13438;
    color: #fff;
}

/* ****************************** */
.spanGray{
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c1c1c1;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
}
.divBlue.show .spanGray{
    background-color: #0078d4;
    border: 1px solid #0078d4;
    color: #fff;
}

/* ================================================== */
/* ====================Media========================= */
/* ================================================== */
@media (max-width:1200px){
    .images{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 100%;
    }
    .right{
        width: 315px;
        height: 97px;
        margin: auto;
        margin-bottom: 40px;
        order: 4;
    }
    .rightImg{
        background-image: url('../../../assets/images/rightMob.png');
    }
    /* ================FRONT================== */
    .front{
        width: 315px;
        height: 140px;
        margin: auto;
        margin-bottom: 40px;
        order: 1;
    }
    .frontImg{
        background-image: url('../../../assets/images/FrontMob.png');
        
    }
    /* ================TOP================== */
    .top{
        width: 315px;
        height: 688px;
        margin: auto;
        order: 5;
    }
    .topImg{
        background-image: url('../../../assets/images/TopMob.png');
        
    }
    /* ================REAR================== */
    .rear{
        width: 315px;
        height: 148px;
        margin: auto;
        margin-bottom: 40px;
        order: 3;
        
    }
    .rearImg{
        background-image: url('../../../assets/images/RearMob.png');
        
    }
    /* ================LEFT================== */
    .left{
        width: 315px;
        height: 97px;
        margin: auto;
        margin-bottom: 40px;
        order: 2;
    }
    .leftImg{
        background-image: url('../../../assets/images/LeftMob.png');
        
    }
    .dropdown-menu{
        width: 200px;
        height: auto;
        padding: 0;
        
    }
    .dropdown-item img{
        margin-bottom: 12px;
        padding: 0;
    }
    .dropdown-item p{
        font-size: 14px;
        margin-bottom: 0;
    }
}

@media (max-width:500px){
    .damagesOverviewInfo{
        padding: 0 20px 30px;
    }
    h2{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .spanRed{
        width: 16px;
        height: 16px;
        font-size: 8px;
    }
    .spanGray{
        width: 16px;
        height: 16px;
        font-size: 8px;
    }
}