<section class="carModel">
    <div class="container">
        <div class="carModelDetails">
            <h2>2018 Mercedes-Benz C63 S</h2>
            <h4>WDDWJ8HB5JF718871</h4>
            <div class="leftRight">
                <div class="left">
                    <div>
                        <p>LOT#</p>
                        <span>2836231</span>
                    </div>
                    <div>
                        <p>Miles</p>
                        <span>20,000</span>
                    </div>
                    <div>
                        <p>Color</p>
                        <span>Dark Grey</span>
                    </div>
                    <div>
                        <p>Plate#</p>
                        <span>6GWD</span>
                    </div>
                    <div>
                        <p>Keys</p>
                        <span>2</span>
                    </div>
                    <div>
                        <p>Car Title</p>
                        <span>Yes</span>
                    </div>
                    <div>
                        <p>Non-Drivable</p>
                        <span>No</span>
                    </div>
                    <div>
                        <p>Mechanical Issues</p>
                        <span>Yes</span>
                    </div>
                </div>
                <div class="right">
                    <img src="assets/images/map.png" alt="">
                </div>
            </div>
            <div class="counter">
                <div>
                    <h2>12</h2>
                    <p>photos</p>
                </div>
                <span>|</span>
                <hr>
                <div>
                    <h2>9</h2>
                    <p>Damages</p>
                </div>
                <span>|</span>
                <hr>
                <div>
                    <h2>3</h2>
                    <p>Documents</p>
                </div>
                <span>|</span>
                <hr>
                <div>
                    <h2>2</h2>
                    <p>notes</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>
