<section class="carModel">
    {{vehicle.data|json}}
    <div class="container">
        <div class="carModelDetails">
            <h2>{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</h2>
            <h4>{{vehicle.vin}}</h4>
                
            <!-- <<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
            <!-- <<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
            <!-- <div id="mapa-mapbox"></div> -->
            <!-- <<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
            <!-- <<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
            <div class="leftRight">
                <div class="left">
                    <div>
                        <p>LOT#</p>
                        <span>{{vehicle.lot}}</span>
                    </div>
                    <div>
                        <p>Miles</p>
                        <span>{{vehicle.distance}}</span>
                    </div>
                    <div>
                        <p>Color</p>
                        <div><span>{{vehicle.color}}</span></div>
                    </div>
                    <div>
                        <p>Plate#</p>
                        <span>{{vehicle.plate}}</span>
                    </div>
                    <!-- =========================================== -->
                    <div>
                        <p>Keys</p>
                        <span  *ngIf="vehicle.keysCount;then thenBlock ; else elseBlock"></span>
                        <ng-template #thenBlock>
                            <span>{{vehicle.keysCount}}</span>
                        </ng-template>
                        <ng-template #elseBlock>
                            <span>---</span>
                        </ng-template>
                    </div>
                     <!-- =========================================== -->
                    <div>
                        <p>Car Title</p>
                        <span>Yes</span>
                    </div>
                    
                    <div *ngIf="vehicle.drivable">
                        <p>Non-Drivable</p>
                        <span>Yes</span>
                    </div>
                   
                    <div *ngIf="vehicle.hasMechanicalIssues">
                        <p>Mechanical Issues</p>
                        <span>Yes</span>
                    </div>
                </div>
                <!-- ==================================================== -->
                <!-- ==================================================== -->
                <div class="right">
                    <div  id="mapa-mapbox"></div>
                    <div class="mapDetails">
                        <h3>{{locations.pickup.address}}</h3>
                        <p>{{locations.pickup.name}}</p>
                        <h3>{{locations.delivery.address}}</h3>
                        <p>{{locations.delivery.name}}</p>
                       
                        <div><img src="assets/images/distanceIcon.png" alt="">
                            {{locations.distance}} mi
                        </div>
                    </div>
                </div>
                <!-- ==================================================== -->
                <!-- ==================================================== -->
            </div>
            <div class="counter">
                <div>
                    <h2>12</h2>
                    <p>photos</p>
                </div>
                <span>|</span>
                <hr>
                <div>
                    <h2>9</h2>
                    <p>Damages</p>
                </div>
                <span>|</span>
                <hr>
                <div>
                    <h2>3</h2>
                    <p>Documents</p>
                </div>
                <span>|</span>
                <hr>
                <div>
                    <h2>2</h2>
                    <p>notes</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>


