<section class="carModel">
    <div class="container">
        <div class="carModelDetails">
            <h2>{{year}} {{make}} {{model}}</h2>
            <h4>{{vin}}</h4>
            <!-- <<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
            <!-- <<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
            <!-- <div id="mapa-mapbox"></div> -->
            <!-- <<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
            <!-- <<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
            <div class="leftRight">
                <div class="left">
                    <!-- ----------------LOT-------------------------------- -->
                    <div>
                        <p>LOT#</p>
                        <span  *ngIf="lot;then thenBlockLot ; else elseBlockLot"></span>
                        <ng-template #thenBlockLot>
                            <span>{{lot}}</span>
                        </ng-template>
                        <ng-template #elseBlockLot>
                            <span>---</span>
                        </ng-template>
                    </div>
                    <!-- ---------------------------------------------------- -->
                    <!-- ---------------------MILES-------------------------- -->
                    <div>
                        <p>Miles</p>
                        <span  *ngIf="distance ;then thenBlockdistance ; else elseBlockdistance"></span>
                        <ng-template #thenBlockdistance>
                            <span>{{distance}}</span>
                        </ng-template>
                        <ng-template #elseBlockdistance>
                            <span>---</span>
                        </ng-template>
                    </div>
                    <!-- ----------------------------------------------------- -->
                    <!-- ----------------------COLOR-------------------------- -->
                    <div>
                        <p>Color</p>
                            <span  *ngIf="color;then thenBlockcolor ; else elseBlockcolor"></span>
                            <ng-template #thenBlockcolor>
                                <span>{{color}}</span>
                            </ng-template>
                            <ng-template #elseBlockcolor>
                                <span>Grey 1</span>
                            </ng-template>
                    </div>
                    <!-- ----------------------------------------------------- -->
                    <!-- -----------------------PLATE------------------------- -->
                    <div>
                        <p>Plate#</p>
                        <span  *ngIf="plate;then thenBlockplate ; else elseBlockplate"></span>
                        <ng-template #thenBlockplate>
                            <span>{{plate}}</span>
                        </ng-template>
                        <ng-template #elseBlockplate>
                            <span>---</span>
                        </ng-template>
                    </div>
                    <!-- ------------------------------------------------------ -->
                    <!-- =========================================== -->
                    <div>
                        <p>Keys</p>
                        <span  *ngIf="keysCount;then thenBlock ; else elseBlock"></span>
                        <ng-template #thenBlock>
                            <span>{{keysCount}}</span>
                        </ng-template>
                        <ng-template #elseBlock>
                            <span>---</span>
                        </ng-template>
                    </div>
                     <!-- =========================================== -->
                     <!-- ---------------CAR-TITLE------------------- -->
                    <!-- <div>
                        <p>Car Title</p>
                        <span>Yes</span>
                    </div> -->
                    <!-- -------------------------------------------- -->
                    
                    <!-- -------------------Drivable----------------- -->
                    <div>
                        <p>Non-Drivable</p>
                        <span  *ngIf="drivable; then thenBlockdrivable ; else elseBlockdrivable"></span>
                        <ng-template #thenBlockdrivable>
                            <span>Yes</span>
                        </ng-template>
                        <ng-template #elseBlockdrivable>
                            <span>No</span>
                        </ng-template>
                    </div>
                    <!-- -------------------------------------------- -->
                   <!-- -----------------Mechanical Issues----------- -->
                    <div>
                        <p>Mechanical Issues</p>
                        <span  *ngIf="hasMechanicalIssues; then thenBlockhasMechanicalIssues ; else elseBlockhasMechanicalIssues"></span>
                        <ng-template #thenBlockhasMechanicalIssues>
                            <span>Yes</span>
                        </ng-template>
                        <ng-template #elseBlockhasMechanicalIssues>
                            <span>No</span>
                        </ng-template>
                    </div>
                    <!-- --------------------------------------------- -->
                </div>
                <!-- ==================================================== -->
                <!-- ==================================================== -->
                <div class="right">
                    <div  id="mapa-mapbox"></div>
                    <div class="mapDetails">
                        <h3>{{pickupAddress}}</h3>
                        <p>{{pickupName}}</p>
                        <h3>{{deliveryAddress}}</h3>
                        <p>{{deliveryName}}</p>
                       
                        <div><img src="assets/images/distanceIcon.png" alt="">
                            {{locationsDistance}} mi
                        </div>
                    </div>
                </div>
                <!-- ==================================================== -->
                <!-- ==================================================== -->
            </div>
            <div class="counter">
                <div>
                    <h2>12</h2>
                    <p>photos</p>
                </div>
                <span>|</span>
                <hr>
                <div>
                    <h2>9</h2>
                    <p>Damages</p>
                </div>
                <span>|</span>
                <hr>
                <div>
                    <h2>3</h2>
                    <p>Documents</p>
                </div>
                <span>|</span>
                <hr>
                <div>
                    <h2>2</h2>
                    <p>notes</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>


